html, body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #D9D9D9;
    /* top: 0;
    position: sticky; */
}

.header__logo span {
    color: #2F0CBD;
}

.header__navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header__navigation__list__item {
    margin-right: 1rem;
}

.header__navigation__list__item img {
    width: 50%;
    cursor: pointer;
}

.header__navigation__admin_profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__navigation__admin_profile h3 {
    font-weight: 400;
}

.header__navigation__admin_profile img {
    width: 25px;
    height: 25px;
    margin-right: 0.25rem;
}

.header__navigation__admin_logout {
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .header__navigation__list__item img,
    .header__navigation__admin_profile h3
    {
        display: none;
    }

    .header__navigation__admin_profile img {
        display: block;
    }
}

.main {
    display: flex;
    flex-direction: row;    
    padding: 1rem;
}

.main__left {
    width: 75%;
}

.main__right {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    height: 60vh;
    width: 20%;
    left: 72.5%;
    margin-left: 1rem;    
    border: 2px solid #EBEBEB;
    border-radius: 8px;
}

.main__left__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main__left__header__input__container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    border: 2px solid rgba(217, 217, 217, 1);
    margin-left: 2rem;
}

.main__left__header__input {
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0;
}

.main__left__header__input:focus {
    outline: none;
}

.main__left__header__button {
    margin-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;   
}

.main__left__header__button  {
    background-color: rgba(217, 217, 217, 0.8);    
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-size: 12px;
}

.main__left__header__button summary {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main__left__header__checkbox__container {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#button-sort img,
#button-filter img {
    width: 16px;
    height: 16px;
    margin-left: 0.25rem;
}


.section__title {
    color: #39219D;
    text-align: center;
}

.table__container {
    position: fixed;
    height: 60vh;
    width: 70%;
    overflow: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #D9D9D9;
}

.table__head {
    background-color: #5E4BAE;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.125rem;
    top: 0;
    position: sticky;
}

.table__body tr:nth-child(odd) {
    background-color: rgba(217, 217, 217, 0.26);
}

.table__body tr td:nth-child(odd) {
    text-align: center;
}

.table__button__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table__button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    border: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
}

.table__button:hover {
    opacity: 0.8;
}

.table__button_view {
    background-color: #3CBB10;
}

.table__button_edit {
    background-color: #E7A91D;
}

.table__button_delete {
    background-color: #D80000;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .main__left {
        width: 100%;
        order: 2;
        margin-top: 2rem;
    }

    .main__right {
        width: 100%;
        position: relative;
        order: 1;
        left: -5%;
        padding: 0;
        height: 40vh;
    }

    .main__left__header__input__container {
        margin-left: 1rem;
    }

    #button-sort,
    #button-filter {
        display: none;
    }    

    .main__left__header__input__container {
        display: none;
    }

    #main-image {
        display: none;
    }

    .table__container {
        width: 100%;
        position: static;
        height: 35vh;
    }
}

.view_data {
    font-size: 8px;
    font-weight: 500;
    height: 60vh;
    width: 100%;
    overflow: auto;
}

.view_data__header {
    border-bottom: 2px solid rgba(217, 217, 217, 0.41);
}

.view_data__header h1 {
    margin-bottom: 0;
    text-align: center;
}

.view_data__header h2 {
    margin-top: 0;
    text-align: center;
    color: rgba(94, 75, 174, 1);
}

.view_data__information__container {
    margin-top: 0.5rem;
}

.view_data__information__container h3 {
    margin-bottom: 0;

}

.view_data__input {
    width: 90%;
    border: 3px solid rgba(235, 235, 235, 1);
    border-radius: 4px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.view_data__information {
    margin-top: 0;
    color: rgba(66, 66, 66, 0.7);
}


.view_data__button_close {
    background-color: rgba(94, 75, 174, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#edit-data-error {
    color: red;
    display: none;
}

#view-cv-file,
#view-id-file {
    text-decoration: underline;
    cursor: pointer;
}
